[submodule "3rdparty/wxWidgets"]
	path = 3rdparty/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "3rdparty/expat"]
	path = 3rdparty/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/openssl/openssl.git
