[Dd]ebug*
[Rr]elease*
*.ncb
*.suo
*.sdf
*.opensdf
*.VC.opendb
*.VC.db
*.tss
*.vcproj.*.user
*.vcxproj.user
ipch
translations/*.mo
3rdparty/wxWidgets/build/bakefiles/.bakefile_gen.state
3rdparty/wxWidgets/lib/vc_lib
3rdparty/wxWidgets/build/msw/*_*/
3rdparty/expat/win32/bin
3rdparty/expat/win32/tmp
packages
pascal/lib/
pascal/backup/
.vs
