[Dd]ebug*
[Rr]elease*
*.ncb
*.suo
*.sdf
*.opensdf
*.VC.opendb
*.VC.db
*.tss
*.vcproj.*.user
*.vcxproj.user
ipch
translations/*.mo
3rdparty/wxWidgets/build/bakefiles/.bakefile_gen.state
3rdparty/wxWidgets/lib/vc_lib
3rdparty/wxWidgets/build/msw/*_*/
3rdparty/expat/win32/bin
3rdparty/expat/win32/tmp
packages
pascal/lib/
pascal/backup/
src/RCa01132
WinSparkle-2015.sln.cache
wrappers/Delphi/src/Project3.stat
wrappers/Delphi/src/Project3.~dsk
wrappers/Delphi/src/Project3_project.tvsconfig
wrappers/Delphi/src/Project3.dproj.local
wrappers/Delphi/src/Project3.dsk
wrappers/Delphi/src/Project3.identcache
wrappers/Delphi/src/Project3.log
Project3.diproj
