[submodule "3rdparty/wxWidgets"]
	path = 3rdparty/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git
[submodule "3rdparty/expat"]
	path = 3rdparty/expat
	url = git://git.code.sf.net/p/expat/code_git
