winsparkle_af      MOFILE  "af.mo"
winsparkle_ar      MOFILE  "ar.mo"
winsparkle_be      MOFILE  "be.mo"
winsparkle_bg      MOFILE  "bg.mo"
winsparkle_bs      MOFILE  "bs.mo"
winsparkle_ca_ES   MOFILE  "ca_ES.mo"
winsparkle_co      MOFILE  "co.mo"
winsparkle_cs      MOFILE  "cs.mo"
winsparkle_da      MOFILE  "da.mo"
winsparkle_de      MOFILE  "de.mo"
winsparkle_el      MOFILE  "el.mo"
winsparkle_es      MOFILE  "es.mo"
winsparkle_et      MOFILE  "et.mo"
winsparkle_eu      MOFILE  "eu.mo"
winsparkle_fr      MOFILE  "fr.mo"
winsparkle_fy_NL   MOFILE  "fy_NL.mo"
winsparkle_ga      MOFILE  "ga.mo"
winsparkle_he      MOFILE  "he.mo"
winsparkle_hr      MOFILE  "hr.mo"
winsparkle_hu      MOFILE  "hu.mo"
winsparkle_hy      MOFILE  "hy.mo"
winsparkle_id      MOFILE  "id.mo"
winsparkle_is      MOFILE  "is.mo"
winsparkle_it      MOFILE  "it.mo"
winsparkle_ja      MOFILE  "ja.mo"
winsparkle_kk      MOFILE  "kk.mo"
winsparkle_ko      MOFILE  "ko.mo"
winsparkle_nb      MOFILE  "nb.mo"
winsparkle_nl      MOFILE  "nl.mo"
winsparkle_pl      MOFILE  "pl.mo"
winsparkle_pt_BR   MOFILE  "pt_BR.mo"
winsparkle_pt_PT   MOFILE  "pt_PT.mo"
winsparkle_ru      MOFILE  "ru.mo"
winsparkle_sk      MOFILE  "sk.mo"
winsparkle_sr      MOFILE  "sr.mo"
winsparkle_sv      MOFILE  "sv.mo"
winsparkle_th      MOFILE  "th.mo"
winsparkle_tr      MOFILE  "tr.mo"
winsparkle_uk      MOFILE  "uk.mo"
winsparkle_zh_CN   MOFILE  "zh_CN.mo"
winsparkle_zh_TW   MOFILE  "zh_TW.mo"
