/*
 *  This file is part of WinSparkle (https://winsparkle.org)
 *
 *  Copyright (C) 2009-2020 Vaclav Slavik
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a
 *  copy of this software and associated documentation files (the "Software"),
 *  to deal in the Software without restriction, including without limitation
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *  and/or sell copies of the Software, and to permit persons to whom the
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 *  DEALINGS IN THE SOFTWARE.
 *
 */

/*--------------------------------------------------------------------------*
                                 Resources
 *--------------------------------------------------------------------------*/

UpdateAvailable ICON "../artwork/software-update-available.ico"



/*--------------------------------------------------------------------------*
                              Version information
 *--------------------------------------------------------------------------*/

#include <winver.h>
#include "winsparkle-version.h"

#define VER_NUM     WIN_SPARKLE_VERSION_MAJOR,WIN_SPARKLE_VERSION_MINOR,WIN_SPARKLE_VERSION_MICRO,0
#define VER_STR     WIN_SPARKLE_VERSION_STRING

#ifdef DEBUG
#define VER_DEBUG    VS_FF_DEBUG
#else
#define VER_DEBUG    0
#endif

1 VERSIONINFO
 FILEVERSION     VER_NUM
 PRODUCTVERSION  VER_NUM
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
 FILEFLAGS       VER_DEBUG
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_DLL
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // US English, Unicode
        BEGIN
            VALUE "Comments", "WinSparkle updates checking library (https://winsparkle.org)."
            VALUE "CompanyName", "winsparkle.org\0"
            VALUE "FileDescription", "WinSparkle updater\0"
            VALUE "FileVersion", VER_STR "\0"
            VALUE "InternalName", "WinSparkle\0"
            VALUE "OriginalFilename", "WinSparkle.dll\0"
            VALUE "LegalCopyright", "Copyright (C) 2009-2020 Vaclav Slavik\0"
            VALUE "ProductName", "WinSparkle\0"
            VALUE "ProductVersion", VER_STR "\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

